@using UserStore.BLL.DTO

@model IEnumerable<PurchaseDto>
@{
    ViewBag.Title = "Index";
}


<a class="btn btn-primary" href="/Admin/Index/">Users</a>
<a class="btn btn-primary" href="/Purchase/Create/">Create</a>
<a class="btn btn-primary" href="/Manager/Index/">Managers</a>
<div class="panel panel-primary">
    <div class="panel-heading">
        All sales
    </div>
    <table class="table table-striped">
        <tr>
            <th>Product Id</th>
            <th>Manager name</th>
            <th>Client name</th>
            <th>Product name</th>
            <th>Product price</th>
            <th>Purchase date</th>
        </tr>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="3" class="text-center">There is no purchases</td>
            </tr>
        }
        else
        {
            foreach (var purchase in Model)
            {
                <tr>
                    <td>@purchase.Id</td>
                    <td>@purchase.ManagerName</td>
                    <td>@purchase.ClientName</td>
                    <td>@purchase.ProductName</td>
                    <td>@purchase.Price</td>
                    <td>@purchase.Date</td>
                    <td><p><a class="btn btn-default" href="/Purchase/Edit/@purchase.Id">Edit</a></p></td>
                    <td><p><a class="btn btn-default" href="/Purchase/Delete/@purchase.Id">Delete</a></p></td>
                </tr>
            }
        }
    </table>
</div>


