@model ManagerSystem.WebUI.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h2>User register</h2>
        <hr/>
        @Html.ValidationSummary(false)
        
        <div>
            Name
            <div>
                @Html.EditorFor(x => x.Name)
            </div>
        </div>

        <div>
            Email
            <div>
                @Html.EditorFor(x => x.Email)
            </div>
        </div>
        
        <div>
            Password
            <div>
                @Html.EditorFor(x => x.Password)
            </div>
        </div>
        
        <div>
            <div>
                Confirm password
                <div>
                    @Html.EditorFor(x => x.ConfirmPassword)
                </div>
            </div>
        </div>
        
        <div>
            <div>
                <input type="submit" value="register"/>
            </div>
        </div>
    </div>
}
