@model PagedList.IPagedList<UserStore.BLL.DTO.OrderDto>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<div class="btn btn-group">
    <a class="btn btn-success" href="/Order/Create/">Create</a>
    <a class="btn btn-default" href="/Admin/Index/">Users</a>
    <a class="btn btn-default" href="/Manager/Index/">Managers</a>
    <a class="btn btn-default" href="/Product/Index/">Products</a>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        All orders
    </div>
    <table class="table table-striped">
        <tr>
            <th>Product Id</th>
            <th>Manager name</th>
            <th>Client name</th>
            <th>Product name</th>
            <th>Order price</th>
            <th>Order date</th>
            <th></th>
            <th></th>
        </tr>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="3" class="text-center">There is no orders</td>
            </tr>
        }
        else
        {
            foreach (var orderDto in Model)
            {
                <tr>
                    <td>@orderDto.Id</td>
                    <td>@orderDto.ManagerName</td>
                    <td>@orderDto.ClientName</td>
                    <td>@orderDto.ProductName</td>
                    <td>@orderDto.Price</td>
                    <td>@orderDto.Date</td>
                    <td><p><a class="btn btn-default" href="/Order/Edit/@orderDto.Id">Edit</a></p></td>
                    <td><p><a class="btn btn-default" href="/Order/Delete/@orderDto.Id">Delete</a></p></td>
                </tr>
            }
        }
    </table>
</div>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) from @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))