@using UserStore.WebUI.Models

@model OrderListViewModel
@{
    ViewBag.Title = "List of orders";
}

@*<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['bar'] });
        //google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Manager', 'Amount', 'Total price', 'Frequency per day'],
                ['Arseni', 10, 430, 1],
                ['Arseni2', 8, 560, 2],
                ['Arseni3', 8, 700, 2],
                ['Arseni4', 12, 430, 1]
            ]);

            var options = {
                chart: {
                    title: 'Orders details',
                    subtitle: 'Sale amount, Total price, and frequency'
                }
            };

            var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    </script>
</head>*@

<form method="get">
    <div class="form-group">
        <label class="control-label">Manager:</label>
        @Html.DropDownList("manager", Model.Managers,
            new { @class = "form-control" })

        <label class="control-label">Product:</label>
        @Html.DropDownList("product", Model.Products,
            new { @class = "form-control" })
        
        <label class="control-label">Date:</label>
        @Html.DropDownList("date", Model.Dates,
            new { @class = "form-control" })
        
        <label class="control-label">From value:</label>
        @Html.TextBoxFor(x => x.FromValue, new {@type="number", @value="10", @min="0", @step="0.01", @class="form-control"})

        <label class="control-label">To value:</label>
        @Html.TextBoxFor(x => x.ToValue, new { @type = "number", @value = "200", @min = "0", @step = "0.01", @class = "form-control" })
    </div>
    <input type="submit" value="Filter" class="btn btn-default"/>
</form>



<table class="table table-striped">
    <tr>
        <th>Manager name</th>
        <th>Product name</th>
        <th>Date</th>
        <th>Price</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Orders)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
    }
</table>

<div class="btn-group">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</div>

@*@using (Ajax.BeginForm("OrdersList", new AjaxOptions { UpdateTargetId = "results" }))
{
    <div class="form-group">
        <input type="text" name="name" aria-label="Enter name" />
        
        

        <input type="submit" class="btn btn-default" value="Show info"/>
        @ViewBag.Managers
        <input type="button" id="chartBuilder" class="btn btn-default" value="Build chart" onclick="drawChart()"/>
    </div>
}*@

@*<div id="columnchart_material" style="width: 800px; height: 500px;"></div>

<div id="results">

</div>

@Scripts.Render("~/scripts/jquery-1.10.2.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")*@