@model PagedList.IPagedList<UserStore.BLL.DTO.ManagerDto>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Managers";
}

<head>
    <style>
        input[type=text] {
            width: 150px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            background-color: white;
            background-image: url('../../Images/searchicon.png');
            background-position: 2px 2px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

        input[type=text]:focus {
            width: 100%;
        }
    </style>
</head>

<div class="row">
    <div class="col-md-8">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation"><a href="/Manager/Create">Create manager</a></li>
            <li role="presentation"><a href="/Admin/Index">Users</a></li>
            <li role="presentation"><a href="/Order/Index">Orders</a></li>
            <li role="presentation"><a href="/Product/Index">Products</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        @using (Ajax.BeginForm("ManagerSearch", new AjaxOptions
        {
            UpdateTargetId = "results",
            LoadingElementId = "loading",
            LoadingElementDuration = 500,

        }))
        {
            <div class="form-inline">
                <input type="text" placeholder="Manager name" name="name" class="form-control" />
            </div>
        }
    </div>
</div>

<div id="loading" style="display: none; color: red; font-weight: bold">
    <p>loading...</p>
</div>

<div id="results">
</div>

<div class="panel panel-primary">
        <div class="panel-heading">
            All managers
        </div>
        <table class="table table-striped">
            <tr>
                <th>Manager Id</th>
                <th>Manager name</th>
            </tr>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="3" class="text-center">There is no managers</td>
                </tr>
            }
            else
            {
                foreach (var manager in Model)
                {
                    <tr>
                        <td>@manager.Id</td>
                        <td>@manager.LastName</td>
                        <td><p><a class="btn btn-default" href="/Manager/Edit/@manager.Id">Edit</a></p></td>
                        <td><p><a class="btn btn-default" href="/Manager/Delete/@manager.Id">Delete</a></p></td>
                    </tr>
                }
            }
        </table>
</div>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) from @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
