@model PagedList.IPagedList<UserStore.BLL.DTO.ManagerDto>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<a class="btn btn-success" href="/Manager/Create/">Create</a>
<a class="btn btn-default" href="/Admin/Index/">Users</a>
<a class="btn btn-default" href="/Order/Index/">Orders</a>
<a class="btn btn-default" href="/Product/Index/">Products</a>

<div class="panel panel-primary">
    <div class="panel-heading">
        All sales
    </div>
    <table class="table table-striped">
        <tr>
            <th>Manager Id</th>
            <th>Manager name</th>
        </tr>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="3" class="text-center">There is no purchases</td>
            </tr>
        }
        else
        {
            foreach (var manager in Model)
            {
                <tr>
                    <td>@manager.Id</td>
                    <td>@manager.LastName</td>
                    <td><p><a class="btn btn-default" href="/Manager/Edit/@manager.Id">Edit</a></p></td>
                    <td><p><a class="btn btn-default" href="/Manager/Delete/@manager.Id">Delete</a></p></td>
                </tr>
            }
        }
    </table>
</div>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) from @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))